<div class="card-profession col-3">
  <div class="row">
  <div class = "my-3 p-2">
    <h2><%= booking.job.name %></h2>
    <%= booking.job.price %>
  </div>
  <div class="card-profession-info">
    <%= booking.date %>
  </div>
  <div>
    <%= booking.job.user.first_name %>
  </div>
</div>
