<div class = "container">
<h2 class="one_job">See and Manage your Bookings</h2>
  <div class="d-flex flex-row justify-content-around">
  <div class="row">

    <% @bookings.each do |booking| %>
     <%= render "bookings_card", booking: booking %>
    <% end %>
  </div>

</div>

<div class="nav justify-content-center m-5">
  <p><%= link_to "Back to Professions", jobs_path, class:"btn btn-return" %></p>
</div>
