<%= link_to "Book now", "#", class: "btn btn-hire" %>
<%= link_to "Submit", "#", class: "btn btn-submit" %>


<div class="card-profession">
  <%= image_tag 'ringbearer.jpeg', alt: 'Bridesmaid' %>
  <div class="card-profession-info">
    <div>
      <h2>Paw-fessional Ring Bearer</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">¥30,000/day</h2>
  </div>
</div>
