.btn-hire {
  color: pink;
  padding: 8px 24px;
  border-radius: 4px;
  border: outset 2px black;
  background: #0a0a0a;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-hire:hover {
  color: black;
  border: outset 2px pink;
  background-color: pink;
}

.btn-hire:active, button:active {
  border: inset 2px pink ;
  color: black;
  background-color: pink !important;
}

button > a {
  text-decoration: none;
  color: pink;
}

button:hover > a {
  color: black !important;
}

#delete-btn:hover {
  color: black;
  border: outset 2px rgb(244, 113, 116);
  background-color: rgb(244, 113, 116);
}

#delete-btn {
  color: pink;
}

#sign-in-btn {
  color: pink;
}
