.btn-hire {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #0a0a0a;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-submit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #7fbcee;
  transition: background 0.3s ease;
}

.btn-return {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #cedbf2;
  transition: background 0.3s ease;
}

a {
  text-decoration: none;
  color: white;
}