.card-profession {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  width: 250px;
  margin: 5px;
  border-style: outset;
  border-radius: 5px;
}

.card-profession > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-profession h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-profession p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-profession .card-profession-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-profession-info {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  .booking-left {
  display: flex;
  align-items: center;
  }
  .booking-actions {
  display: flex;
  align-items: center;
  }
  .booking-tag {
  margin: 1px 4px;
  padding: 2px 5px 0px 5px;
  background-color: #bfbfbf;
  color: white;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 12px;
  }
  }
  .booking-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  .booking-info-title {
  font-weight: bolder;
  font-size: 1.2em;
  }
  .booking-info-details {
  font-weight: lighter;
  }
  }
